#
# Copyright (c) 2022 ModalAI, Inc.
#

[Unit]
Description=voxl-imu-server
SourcePath=/usr/bin/voxl-imu-server

[Service]
User=root
Type=simple
PIDFile=/run/voxl-imu-server.pid
ExecStart=/usr/bin/voxl-imu-server

[Install]
WantedBy=multi-user.target

